/* Forces the heading to use a fair bit of screen space at 
   the top of the page, and also internally vertically centers it. 
*/
#heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 500px;
    height: 35vh;
}

/* Page content */
#content {
    min-height: 65vh;
}
#content>iframe {
    width: 100%;
}

/* Automatic resizing of youtube videos on various screen sizes */
@media screen and (max-width: 1199px) {
    #content>iframe {
        height: 500px;
    }
}
@media screen and (max-width: 767px) {
    #content>iframe {
        height: 300px;
    }
}@media screen and (max-width: 420px) {
    #content>iframe {
        height: 250px;
    }
}